services:
  backend:
    build:
      context: ./backend
      target: builder
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/usr/src/app
    command: npm run dev
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      target: builder
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend:/usr/src/app
    command: npm run dev
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - /var/lib/mongodb:/data/db
