services:
  backend:
    build:
      context: ./backend
      target: builder
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    depends_on:
      - mongo
      - redis

  worker:
    build:
      context: ./backend
      target: builder
    env_file:
      - ./.env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run worker:start
    depends_on:
      - mongo
      - redis

  frontend:
    build:
      context: ./frontend
      target: builder
    ports:
      - "3000:3000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_BASE_URL=http://backend:5000/api
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - /var/lib/mongodb:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - /var/lib/redis:/data
    command: redis-server --save 20 1 --loglevel warning